*{ 
    margin: 0px;
    padding: 0px;
    background-color:#363535;
}
header{
    width: full;
    margin-top: 50px;
}
h1{
    margin: auto;
    text-align: center;
    font-size:76px;
    color: rgb(188, 228, 249);
}
body{
    text-align: center;
}

#container{
    height:70vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
#game{
    width:60vmin;
    height: 60vmin;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5vmin;
}
#R-btn{
    width: 15vmin;
    height: 7vmin;
    color: white;
    font-size: 1.5rem;
}

.box{
    width: 18vmin;
    height: 18vmin;
    color: rgb(213, 213, 213);
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgb(0,0,0,0.1);

    font-size: 8em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;

}

.glow-on-hover {
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}
.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .5s ease-in-out;
    border-radius: 10px;
}
.glow-on-hover:hover:before {
    opacity: 1;
}
.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(20, 20, 20);
    left: 0;
    top: 0;
    border-radius: 10px;
}
@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
